/* You can add global styles to this file, and also import other style files */
.page-main {
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  width: 100%;
}

body {
  margin: 0;
}

section  {
  padding: 0 5px;
}

h2 {
  padding: 20px;
}
